@import url('https://fonts.googleapis.com/css?family=Dosis|Ubuntu+Mono&display=swap');

*{
  font-family: 'Dosis', sans-serif;
}

code{
  font-family: 'Ubuntu Mono', monospace;
}

#logo-wrapper{
  width: 100%;
  margin: 0 auto;
}

#logo {
  max-height: 250px;
  text-align: center;
  margin:auto;
}