@import url('https://fonts.googleapis.com/css?family=Alata|Ubuntu+Mono&display=swap');

body {
  font-family: 'Alata', sans-serif;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}

.section{
  height: 100vh;
}

.center{
  text-align: center;
}